#main_header {
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#container{
   padding: 8px;
   border: 1px solid rgb(38 74 169);
   border-radius: 8px;
   flex-wrap: wrap;
   display: flex;

}

.square_div{
   background-color: rgb(208 108 243);
   border-radius: 4px;
}

.square_div:hover{
   background-color: rgb(236 182 255);
}